<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Historical Weather API</title>
</head>
<body>
<!--Using this HTML Page as My API Documentation-->
<h1>Historical Weather API</h1>
<!--    <img src="{{url_for('static',filename='cat.png')}}" style="width:600px">-->
<p><b>URL Format :</b> http://127.0.0.1:5000/api/v1/station/date</p>
<p><b>URL for Particular date Temperature :</b> http://127.0.0.1:5000/api/v1/20/1999-02-10</p>
<p><b>URL for Particular station Temperatures :</b> http://127.0.0.1:5000/api/v1/20</p>
<p><b>URL for Particular station Annual Temperature :</b> http://127.0.0.1:5000/api/v1/yearly/20/1999</p>
<p>{{data|safe}}</p>
</body>
</html>